*.o
.depend
*.a
system.mk
ltmain.sh
Makefile
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
include/config.h
install-sh
libtool

docs/sample_geno_timer_crontab
docs/sample_sysdef
keycomp/rsa_key2cap
keycomp/rsa_keycomp
newstartd/newstartd
ntserv/daemon
ntserv/ntserv
null
robotd/robot
robots/basep
robots/inl
robots/mars
robots/newbie
robots/pret
robots/puck
robots/robotII
sequencer/sequencer
tools/ban
tools/blotpassword
tools/cambot
tools/delist
tools/fun
tools/geno_timer
tools/getpath
tools/keyman
tools/ltd_convert
tools/ltd_dump
tools/ltd_dump_html
tools/mergescores
tools/mess
tools/message
tools/metaget
tools/newscores
tools/no_geno_timer
tools/ntpasswd
tools/nuke
tools/planets
tools/players
tools/scores
tools/setgalaxy
tools/setgame
tools/setpath
tools/setpath.csh
tools/setplanet
tools/setship
tools/setteam
tools/sortdb
tools/stat
tools/trimscores
tools/updated
tools/watchmes
tools/xtkill
*~
