Source: netrek-server-vanilla
Maintainer: James Cameron <quozl@us.netrek.org>
Uploaders: Robert J. Tanner <tanner@real-time.com>
Section: games
Priority: optional
Build-Depends: debhelper (>= 4.2.32), cdbs (>= 0.4.27), libtool, autoconf, automake, libgdbm-dev, libncurses5-dev, libx11-dev, libxt-dev, libglib1.2-dev, libgmp3-dev, po-debconf
Build-Conflicts: autoconf2.13
Standards-Version: 3.7.3

Package: netrek-server-vanilla
Architecture: any
Depends: ${shlibs:Depends}, debconf (>= 0.2.26)
Description: Netrek Server, Vanilla
 The Netrek server, packaged by the Ubuntu Netrek Server Team.
 .
 Homepage: http://www.netrek.org/
