Source: netrek-server-vanilla
Maintainer: James Cameron <quozl@us.netrek.org>
Section: unknown
Priority: optional
Standards-Version: 3.1.1
Build-Depends: debhelper, ccache, libgdbm-dev, libncurses5-dev, libglib1.2-dev, libx11-dev

Package: netrek-server-vanilla
Architecture: any
Depends: libgmp3
Description: Netrek Server, Vanilla
 The Netrek server, packaged by the upstream team.
 http://playnetrek.org/
