#!/usr/bin/make -f
#
# NAME
#   debian/rules -- Debian build rules for netrek-server
#
# DESCRIPTION
#   This Makefile uses the CDBS makefiles to wrap the common package building
#   steps necessary to make the netrek-server package.
#
# COPYRIGHT
#   Copyright (c) 2008 Bob Tanner <tanner@real-time.com>
#
# LICENSE
#   This program is free software; you can redistribute it and/or modify it
#   under the terms of the GNU General Public License as published by the Free
#   Software Foundation; either version 2, or (at your option) any later
#   version.
#
#   This program is distributed in the hope that it will be useful, but WITHOUT
#   ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
#   FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
#   more details.
#
#   You should have received a copy of the GNU General Public License along
#   with this program; if not, write to the Free Software Foundation, Inc., 59
#   Temple Place, Suite 330, Boston, MA 02111-1307 USA.
#

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_CONFIGURE_EXTRA_FLAGS := --bindir=/usr/games \
	--libdir=/usr/lib/netrek-server-vanilla \
	--sysconfdir=/etc/netrek-server-vanilla \
	--localstatedir=/var/lib/netrek-server-vanilla \
	--prefix=
DEB_MAKE_CLEAN_TARGET := distclean

makebuilddir/netrek-server-vanilla::
	if [ ! -x configure ]; then \
		aclocal; \
		libtoolize --copy --force; \
		autoconf; \
	fi
	if [ ! -x res-rsa/configure ]; then \
		(cd res-rsa; autoconf) ;\
	fi

clean::
	rm -f config.status
	/usr/bin/debconf-updatepo

